@use './variables' as *;

/* #region Common */


/* #endregion */

/* #region Utilities */

/* #region Button */

@mixin btn_hover {
    color: $lightest;

    &:hover {

        filter: opacity(0.8);
        color: $lightest;
        transition: all 0.2s ease-in-out;
    }
}

.my_active {

    color: $primary;
    font-weight: bold;

}


.my_danger {
    background-color: $primary;
    @include btn_hover;

    &:hover {
        background-color: $primary;
    }
}

.my_success {
    background-color: $success;
    @include btn_hover;

    &:hover {
        background-color: $success;
    }
}

.my_dark {
    background-color: $dark;
    @include btn_hover;

    &:hover {
        background-color: $dark;
    }
}

/* #endregion */

/* #region Section */

.admin_section {
    background-color: rgb(22, 22, 22);
    color: $lightest;
}

.title_section {
    width: fit-content;
    margin: 1rem auto 0 auto;
    padding: 1rem 2rem;
    color: $lightest;
    border-radius: 10px;
    border-bottom: 2px solid $primary;

}

.my_table {
    text-align: center;
    border-radius: 3px;

    th {
        background-color: $dark;
        color: $lightest;
        border: 2px solid $primary;
    }

    td {
        border: 1px solid $dark;
    }
}

.my_form {
    border: 2px solid $primary;
    padding: 2rem;
    border-radius: 5px;

    input,
    textarea {
        border: 1px solid $dark;
    }
}

/* #endregion */

/* #endregion */